.formulario{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 80px 50px 0 50px;
    font-family: 'Montserrat', sans-serif;
}

.formulario form {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    flex: 1;
}

h2{
    font-family: 'Prata', serif;
    font-weight: 400;
}

@media only screen and (max-width: 1000px){
    .formulario{
        margin: 40px 20px;
    }

    .formulario form {
        padding: 18px 36px;
    }

    h2{
        font-size: 24px;
    }
}
